.contact-form {
	font-size: 30px;
	font-family: "Google Sans";
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-form span {
	font: normal 55px "Google Sans";
}


form > div {
	margin: 10px 0;
	display: flex;
	align-items: stretch;
	overflow: hidden;
	padding-left: 10px;
	color: rgb(100, 100, 100);
	transition: 0.125s;
	height: 45px;
	&, textarea {
		border-radius: 8px;
		border: 3px solid rgb(50, 50, 50);
		overflow: hidden;
	}
	&:has(input:focus), &:has(textarea:focus) {
		color: white;
		border-color: white;	
	}
	& input {
		font-family: sans-serif;
		font-size: 25px;
		padding: 0px 10px;
		padding-top: 4px;
		width: 100%;
		border: none;
		background-color: transparent;
		color: white;	
		&:focus {
			outline: none;
		}
	}
	& label {
		display: flex;
		align-items: center;
	}	
}

textarea {
	font-family: sans-serif;
	font-size: 25px;
	padding: 10px;
	background-color: transparent;
	color: white;
	&:focus {
		outline: none;
		border-color: white;
	}
}


#mess {
	border: none;
	height: auto;
	flex-direction: column;
	padding: 0;
}

#submit {
	transition: none;
	width: 150px;
	color: rgb(150, 150, 150);
	padding: 0;
	display: flex;
	&:hover {
		border-color: white;
		color: white;
	}
	& input {
		display: flex;
		justify-content: center;
		cursor: pointer;
		margin-left: auto;
		background-color: transparent;
		color: inherit;
		&:active {
			background-color: rgb(240, 240, 240);
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	
	&:has(input:disabled) {
		border-color: rgb(50, 50, 50);
		color: rgb(150, 150, 150);
	}
}


