::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: black;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover {
	background-color: white;
}


.page {
	--mini-w: calc(100vw * 0.5);
	--mini-h: calc(100vh * 0.5);
}


.page {
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	
	overflow: hidden;
	border: 2px solid black;
	transition: 0.5s;
	color: #ffffff;
	font: bold 30px sans-serif;
}

.shrink {
	border-color: rgb(80,80,80);
	width: var(--mini-w);
	height: var(--mini-h);
	left: var(--left-shrink);
	top: calc(50% - var(--mini-h)/2);
	border-radius: 10px;
}

.active {
	z-index: 1000;
}

.page-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 50%;
	top: 50%;
	right: 0;
	bottom: 0;
	translate: -50% -50%;
	scroll-snap-type: y mandatory;
	overflow: auto;
	z-index: 998;
}

.shrink .page-container {
	overflow: hidden;
}

.shrink .page-container::-webkit-scrollbar {
	display: none;
}



.view {
	scroll-behavior: smooth;
	scroll-snap-align: start;
	font: bold 20px 'Google Sans';
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

