.proj-cont {
	width: 80%;
}

.project {
	border: 2px solid #555;
	border-radius: 10px;
	padding: 0 10%;
	margin-bottom: 30px;
	background: rgba(255,255,255,0.05);
	& > div {
		margin: 10px 0;
	}
}

.pjt-header {
	letter-spacing: -2px;
	font: 400 2em Google Sans;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.pjt-link-wrapper {
	display: flex;
	justify-content: end;
	gap: 10px;
	flex-wrap: wrap;
}

.pjt-link {
	margin-left: 10px;
	/* border: 2px solid #aaa; */
	/* padding: 0 10px; */
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	/* opacity: 0.7; */
	& div {
		display: flex;
		align-items: center;
	}
	& svg {
		transition: 0.15s;
		fill: #aaa;
		height: 50px;
		width: 50px;
	}
	& a {
		text-decoration: none;
		color: white;	
	}
	&:hover svg {
		fill: #fff;
		/* opacity: 1; */
		/* background-color: #fff; */
	}
}

.pjt-desc {
	font: 400 1.4rem Google Sans;
	padding: 14px 0;
}


.pjt-tags {
	display: flex;
	gap: 6px;
	flex-wrap: wrap;
}

.pjt-tag {
	padding: 5px 10px;
	border: 2px solid #bbb;
	color: #bbb;
	border-radius: 20px;
	background: rgb(25,25,25);
	font: 400 16px Google Sans;
}


@media screen and (max-width: 768px) {
	.proj-cont {
		width: 100%;
	}
	.project {
		border: none;
		border-radius: none;
		padding: 0 5%;
		margin-bottom: 65px;
	}
	.pjt-header {
		font-size: 1.5em;
	}
	.pjt-desc {
		font-size: 1.2rem;
	}
	.pjt-tag {
		font-size: 12px;
	}
}
