.contact-cont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* height: 100%; */
	width: 80%;
}

@media screen and (max-width: 800px) {
	.contact-cont {
		flex-direction: column;
	}
	.contact-cont > div {
		margin: 100px 0;
	}
}