.text_anim {
	overflow-y: hidden;
	overflow-x: visible;
	display: block;
}

.text_wrap {
	font: inherit;
	font-size: 100%;
	display: block;
	position: relative;
	top: 250px;
	transition: 0.5s;
	transition-delay: 0s;
}

.text_wrap_appear {
	top: 0;
	transition-delay: calc(var(--order) * 0.05s);
}