.text_anim {
	overflow-y: hidden;
	overflow-x: visible;
	display: block;
	white-space: nowrap;
}

.text_wrap {
	font: inherit;
	font-size: 100%;
	display: block;
	transform: translate(0, 110%);
	transition: 0.5s;
	transition-delay: 0s;
}

.text_wrap_appear {
	transition-delay: calc(var(--order) * 0.05s);
	transform: none;
}