.nav {
	position: fixed;
	z-index: 10000;
	translate: -50% -50%;
	border-radius: 50%;
	width: calc(var(--item-width));
	height: calc(var(--item-width));
	overflow: visible;

	left: 50%;
	top: 100%;

	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s , width 0s, height 0s;

	rotate: 250deg;

	--current-radius: 0px;
	--current-angle: 0deg;
}	




.nav .item {
	border: 1px solid rgba(255, 255, 255,0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: var(--item-width);
	height: var(--item-width);
	position: absolute;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	top: 50%;
	left: 50%;

	translate:
		calc( var(--horz) * var(--current-radius) * cos(var(--current-angle)) - 50% )
		calc( var(--vert) * var(--current-radius) * sin(var(--current-angle)) - 50% );

	--animat:
		var(--duration)
		cubic-bezier(0.075, 0.82, 0.165, 1)
		var(--delay);
	
	transition:
		translate var(--animat),
		rotate var(--animat);

	color: white;
	pointer-events: none;
	
}



.nav .item_content {
	opacity: 0;
	transition: opacity var(--animat);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font: bold 12px 'Google Sans';
}


.nav .item_content svg {
	width: 55%;
	height: 55%;
	fill: none;
	stroke: white;
}

/* .item:hover svg {
	fill: black;
	stroke: black;
} */



.nav .fix {
	translate: -50% -50%;
	background-color: transparent;
	border-color: transparent;
	cursor: default;
	width: calc(var(--item-width));
	height: calc(var(--item-width));
	pointer-events: all;
	backdrop-filter: none;
	cursor: pointer;
}

.nav .fix:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.nav .ignoreFixedItem:hover {
	background-color: transparent;
	cursor: default;
}

.openNav {
	height: calc( var(--opened-radius) * 2 + var(--item-width) + 20px );
	width: calc( var(--opened-radius) * 2 + var(--item-width) + 20px );
	transition-delay: 0s;
	rotate: 0deg;
	animation: none;
}



.openNav .item:not(.fix) {
	--current-radius: var(--opened-radius);
	--current-angle: var(--angle);
	pointer-events: all;
	backdrop-filter: blur(20px) brightness(1.5);
}


.openNav .item_content {
	opacity: 1;
}

.openNav .item:not(.fix):hover {
	backdrop-filter: blur(20px) brightness(0.7);
}
